In [1]:
import pandas as pd

In [2]:
fsa = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
# fsa = X[0]
fsa.columns = fsa.ix[0]
fsa.drop(labels=[0], axis=0, inplace=True)
fsa.head()

D:\Applications\DevTools\ANACONDA\lib\site-packages\ipykernel\__main__.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  app.launch_new_instance()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [3]:
fsa.drop(labels=[i for i in fsa[fsa["Borough"] == "Not assigned"].index], axis=0, inplace=True)
fsa[fsa["Neighbourhood"] == "Not assigned"]["Neighborhood"] = fsa[fsa["Neighbourhood"] == "Not assigned"]["Borough"]
fsa.head()

D:\Applications\DevTools\ANACONDA\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

0 Postcode           Borough     Neighbourhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park
7      M6A        North York  Lawrence Heights

In [4]:
fsa.reset_index(drop=True, inplace=True)
fsa.head()

0 Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [5]:
temp = fsa.copy()

In [6]:
temp.shape

(212, 3)

In [55]:
temp = pd.DataFrame(columns=["Postcode", "Borough", "Neighbourhood"])
temp.head()

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [56]:
temp.Postcode = fsa.Postcode.unique()

In [57]:
temp = pd.merge(temp[["Postcode", "Neighbourhood"]], fsa[["Postcode", "Borough"]], on="Postcode")

In [58]:
temp.head()

  Postcode Neighbourhood           Borough
0      M3A           NaN        North York
1      M4A           NaN        North York
2      M5A           NaN  Downtown Toronto
3      M5A           NaN  Downtown Toronto
4      M6A           NaN        North York

In [63]:
for index, i in enumerate(temp.Postcode):
    arr = [j for j in fsa[fsa["Postcode"] == i]["Neighbourhood"]]
    hood = ", ".join(arr)
    temp.ix[index, ["Neighbourhood"]] = hood

In [67]:
temp = temp.ix[:, ["Postcode", "Borough", "Neighbourhood"]]
temp.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M5A  Downtown Toronto         Harbourfront, Regent Park
4      M6A        North York  Lawrence Heights, Lawrence Manor

In [68]:
fsa = temp.copy()

In [69]:
fsa.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M5A  Downtown Toronto         Harbourfront, Regent Park
4      M6A        North York  Lawrence Heights, Lawrence Manor

In [70]:
fsa.tail()

    Postcode    Borough                                      Neighbourhood
207      M8Z  Etobicoke  Kingsway Park South West, Mimico NW, The Queen...
208      M8Z  Etobicoke  Kingsway Park South West, Mimico NW, The Queen...
209      M8Z  Etobicoke  Kingsway Park South West, Mimico NW, The Queen...
210      M8Z  Etobicoke  Kingsway Park South West, Mimico NW, The Queen...
211      M8Z  Etobicoke  Kingsway Park South West, Mimico NW, The Queen...

In [71]:
fsa.shape

(212, 3)

In [72]:
fsa.to_csv("fsa.csv")